h1 {
	color: #730eaa;
	text-align: center;
	font-family: courier, times, seraf;
}

h2 {
	color: #582a72;
	text-align: center;
	font-family: courier, times, seraf;
}

p {
	color: #410dea;
	font-family: courier, times, seraf;
  font-size: 20px;
	text-align: center;
}

.countries {
  color:rgb(53, 53, 177);
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}

.sidebar {
	width: 30%;
  float: left;
	background-color: #4f628e;
	box-sizing: border-box;
}

.column{
	width: 50%;	
	float: right;
}

.box1{
	border-width: 5px;
	border: #582a72;
	padding: 50px;

}